# Ignore Frontend node_modules
Frontend/node_modules/

# Java build output
Backend/target/

# Python cache
Python/__pycache__/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
